
  
  @font-face {
    font-family: 'PokemonFRLG';
    src: url('../../public/fonts/pokemon-frlg/pokemon-frlg.ttf') format('truetype'); /* Adjust the path as needed */
  }
  
  body {
    font-family: 'PokemonFRLG', sans-serif;
  }
  